<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>HR Analytics service</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>


<style>
body {
  background-image: url("https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
</style>



 <div class="login">
	<h1>Predict job change</h1>

    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Enrollee Id" placeholder="Enrollee Id" required="required" />
        <input type="text" name="City" placeholder="City" required="required" />
		<input type="text" name="City development index" placeholder="City development index" required="required" />
        <input type="text" name="Gender" placeholder="Gender" required="required" />
        <input type="text" name="Relevant experience" placeholder="Relevant experience" required="required" />
        <input type="text" name="Enrolled university" placeholder="Enrolled university" required="required" />
        <input type="text" name="Education level" placeholder="Education level" required="required" />
        <input type="text" name="Major discipline" placeholder="Major discipline" required="required" />
        <input type="text" name="Experience" placeholder="Experience" required="required" />
        <input type="text" name="Company size" placeholder="Company size" required="required" />
        <input type="text" name="Company type" placeholder="Company type" required="required" />
        <input type="text" name="Last new job" placeholder="Last new job" required="required" />
        <input type="text" name="Training hours" placeholder="Training hours" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
